<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio website for Drew Aichele.">

    <title><%= current_page.data.title || "Drew Aichele" %></title>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Drew Aichele</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'About', 'about' %></li>
            <li><%= link_to 'Culinary', 'culinary' %></li>
            <li><%= link_to 'Social Work', 'social-work' %></li>
            <li><%= link_to 'Performance', 'performance' %></li>
            <li><%= link_to 'Contact', 'contact' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer class="footer">
    <div class="container">
      <span class="pull-left">
        Email: drew.aichele@gmail.com
      </span>
      <span class="pull-right">
        Copyright &#169;2017
      </span>
    </div>
  </footer>
</html>
