---
title: Culinary – Drew Aichele
---

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'culinary1.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary2.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary3.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary4.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary5.jpg', :alt => '...' %>
    </div>
  </div>
</div>

<p>I have always had a passion for baking and cooking. Since a child, I have always had the goal for pursuing this passion. I have had many opportunities, which I am very thankful for that have fulfilled this passion, and am always looking for more.</p>

<p>One of the happiest days of my culinary career was creating my sister’s wedding cake. This particular style was a naked vanilla lemon cake with a cheesecake layer, graham cracker pie dough crumb, and raspberry buttercream frosting. After the event, I <a href="https://www.reddit.com/r/food/comments/65jlx2/homemade_i_made_my_sisters_wedding_cake/" target="_blank">posted a picture of it</a> to Reddit's most popular food section, reddit.com/r/food, and received an incredible, exhilarating response.</p>

<blockquote>
  I'm super impressed. It looks much better than the commercial ones... and they cost a small fortune and have to be ordered months in advance! You should go into business.
</blockquote>

<blockquote>
  So stunning. It looks so pretty and rustic, I would (almost) want to preserve it instead of eating it!
</blockquote>

<blockquote>
  It looks incredible! Would you bake a cake for me? I don't have a wedding coming up. Or a birthday. I just want cake.
</blockquote>

<div class="space">&nbsp;</div>

<div class="page-header">
  <span class="title">Culinary Experience & Education</span>
  <span class="pull-right"><a href="../pdfs/resumeculinary.pdf" target="_blank" class="btn btn-primary">View PDF</a></span>
</div>

<div class="resume">

  <div class="resume-head clearfix">
    <div class="pull-left">
      Momofuku Bar
    </div>
    <div class="pull-right">
      July 2016-Present
    </div>
  </div>
  <div class="resume-body">
    <i>Pastry Cook and Class Instructor, Brooklyn NY</i>
    <p>Prepares quality cakes and components including, frosting, jam, cheesecake, curd, crumb, fudge, ganache, cake and compote with consistency and knowledge of proper use of equipment.</p>
    <p>Produces special order cakes for weddings and events maintaining integrity and consistency of Milk Bar line.</p>
    <p>Maintaining pars and limiting waste while strictly abiding health and cleanliness regulations.</p>
    <p>Upholds positive and upbeat attitude with team while providing efficient and collaborative work atmosphere.</p>
  </div>

  <div class="resume-head clearfix">
    <div class="pull-left">
      BedStuy Baking Co.
    </div>
    <div class="pull-right">
      April 2015-December 2016
    </div>
  </div>
  <div class="resume-body">
    <i>Founder, Brooklyn NY</i>
    <p>Constructs business based on needs of local restaurants while pursuing passion of food services and baking Tests, creates and assembles diversity of seasonal products for local food chains and catering events through organized and detail oriented practices</p>
    <p>Anticipating needs of business through packaging, delivering, advertising, ingredients and warm customer service</p>
    <p>Abides by NYS food laws for handling, packaging, cleanliness and distribution</p>
  </div>

  <div class="resume-head clearfix">
    <div class="pull-left">
      Whole Foods Salud! Cooking School
    </div>
    <div class="pull-right">
      May 2012-July 2013
    </div>
  </div>
  <div class="resume-body">
    <i>Instructor Aid, Nashville, TN</i>
    <p>Anticipated needs of business through packaging, delivering, advertising, ingredients and warm customer service</p>
    <p>Aided cooking school in prep work, shopping and meal planning and instruction of students while engaging participants through friendly customer service</p>
  </div>
</div>
