---
title: Culinary – Drew Aichele
---

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'culinary1.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary2.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary3.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary4.jpg', :alt => '...' %>
    </div>
    <div class="item">
      <%= image_tag 'culinary5.jpg', :alt => '...' %>
    </div>
  </div>
</div>

<p>I have always had a passion for baking and cooking. Since a child, I have always had the goal for pursuing this passion. I have had many opportunities, which I am very thankful for that have fulfilled this passion, and am always looking for more.</p>

<p>One of the happiest days of my culinary career was creating my sister’s wedding cake. This particular style was a naked vanilla lemon cake with a cheesecake layer, graham cracker pie dough crumb, and raspberry buttercream frosting. After the event, I <a href="https://www.reddit.com/r/food/comments/65jlx2/homemade_i_made_my_sisters_wedding_cake/" target="_blank">posted a picture of it</a> to Reddit's most popular food section, reddit.com/r/food, and received an incredible, exhilarating response.</p>

<blockquote>
  I'm super impressed. It looks much better than the commercial ones... and they cost a small fortune and have to be ordered months in advance! You should go into business.
</blockquote>

<blockquote>
  So stunning. It looks so pretty and rustic, I would (almost) want to preserve it instead of eating it!
</blockquote>

<blockquote>
  It looks incredible! Would you bake a cake for me? I don't have a wedding coming up. Or a birthday. I just want cake.
</blockquote>
